body {
  padding-top: 70px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 20px;
  overflow: hidden;
}

a {
  color: black;
}

a:hover {
  color: #AAA;
}

.panel-title > a {
  color: black;
}
.panel-title > a:hover {
  background: #F5D76E;
}

.glyphicon {
  margin-right: 4px;
  margin-left: 4px;
}

.table {
  margin-bottom: 0px;
}

.panel-body {
  padding: 0px;
}

#snippets ul, #results ul {
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

#snippets li, #results li {
  border-bottom: 1px solid #ccc;
}

#snippets li:last-child , #results li:last-child {
  border: none;
}

#snippets li a, #results li a{
  text-decoration: none;
  color: #000;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#snippets li a:hover, #results li a:hover {
  background: #F5D76E;
}

h3 {
  margin-top: 0px;
}

.checkbos {
  width: 50%;
  display: -moz-box;
  -moz-box-orient: vertical;
}

.grew-label {
  font-size: 24px;
}

/* Style du jumbotron */

/* Style de scenario */

/* Style de lesson */

/* Style de snippets */

/* Style de console */
#console{
  padding-top: 0px;
}

/* Style de vision */

/* Style de results */
#vision{
  display: none;
}
.displayed{
  background-color:yellow;
}
/* Style de display-results */
#result-pic{
  height: 100%;
}
#list-results{
  max-height: 400px;
}
#display-results,#list-results{
  overflow: auto;
  /*display: none;*/
}
#display-results{
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}
#pattern-input{
  width: 95%;
}
#custom-display{
  display: none;
  font-size: 15px;
}

.item{
  cursor : pointer;
}

.CodeMirror{
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  margin-bottom: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
   background-color: #C3C6C7;
   color: #000;
 }

.nav-pills > li > a:hover, .nav-pills > li.active > a:hover {
   background-color: #989B9C;
   color: #000;
}

.nav-pills > li > a, .nav-pills > li > a:focus {
   color: #000;
 }


#navbar-grew{
  background-image: none;
  background-color: #003171;
}

#right-navbar{
  margin-bottom: 0px;
}

#jumbo-grew{
  background-color: #ECF0F1;
  margin-top: 15px;
}
#title-grew{
  color: #ECF0F1;
}

#grew-main {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.groups > li {
  margin-left: 10pt;
}

/* fix cross position in sweet alert */
.x-mark {
  top: -38px;
}
