<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Grew-match</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link rel="stylesheet" href="vendor/bootflat.css">

	<script src="vendor/jquery-2.1.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- tooltipter -->
	<link rel="stylesheet" href="vendor/tooltipter/tooltipster.css">
	<link rel="stylesheet" href="vendor/tooltipter/tooltipster-noir.css">
	<script src="vendor/tooltipter/jquery.tooltipster.min.js"></script>

	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<script src="vendor/bootstrap/bootstrap.min.js"></script>

	<script src="vendor/sweetalert2.all.min.js"></script>

	<!-- codemirror and Grew specific syntax -->
	<script src="js/vendor/codemirror.js"></script>
	<link rel="stylesheet" href="js/vendor/codemirror.css">
	<script src="js/vendor/grew.js"></script>

	<!-- Audio related CSS and JS -->
	<link rel="stylesheet" href="vendor/audio/stmt_screen_v2.css">
	<script src="vendor/audio/read-along.js"></script>
	<script src="vendor/audio/read-along-main.js"></script>

	<!-- Font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png?v=2">
	<link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png?v=2">
	<link rel="manifest" href="icon/manifest.json?v=2">
	<link rel="mask-icon" href="icon/safari-pinned-tab.svg?v=2" color="#5bbad5">
	<link rel="shortcut icon" href="icon/favicon.ico?v=2">

	<!-- Toggle button for UD/EUD -->
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

	<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
	<script>
		var md = new Remarkable();
	</script>
</head>

<body>
	<!-- Top Navbar -->

	<div id="app">
		<nav id="navbar-grew" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<a href="http://test.grew.fr" class="navbar-brand" style="padding-left: 5px; padding-top: 10px; padding-right: 20px;">
						<img src="images/grew-match.svg" alt="LOGO for grew_match" style="height:50px;">
					</a>

					<a v-bind:href='top_project["website"]' v-if="top_project" class="navbar-brand" id="title-grew" style="padding:0px; background-color:white; ">
						<img v-bind:src='top_project["logo"]' alt="LOGO for top_project site" style="height:50px;">
					</a>

					<ul class="nav navbar-nav groups" style="margin-left:30px">

						<!-- tuto -->
						<li v-bind:class='{active: tuto_active }'>
							<a v-if='tuto' class="navbar-brand" onclick='start_tuto()' href="#" role="button">{{ tuto["name"] }} </a>
						</li>

						<li v-for="group in groups" v-bind:class='{dropdown: group["style"] == "dropdown", active: !tuto_active && current_group_id == group["id"] }'>

							<!-- dropdown case -->
							<a v-if='group["style"] == "dropdown"' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ group["name"] }}
								<span class="caret"></span>
							</a>

							<ul v-if='group["style"] == "dropdown"' class="dropdown-menu">
								<li v-for='corpus in group["corpora"]' v-bind:class='{ divider: corpus=="divider" }'>
									<a href="#" v-if='corpus!="divider"' v-on:click='tuto_active=false; current_group_id = group["id"]; set_corpus_(corpus["id"])'>
										{{corpus["id"]}}
									</a>
								</li>
							</ul>

							<!-- leftpane case -->
							<a v-if='group["style"] != "tuto" && group["style"] != "dropdown"' class="navbar-brand" v-on:click='tuto_active=false; select_group_(group["id"], group["default"])' href="#">
								{{group["name"]}}
							</a>
						</li>

					</ul>
					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown">
							<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
								<i class="fa fa-question-circle fa-lg"></i> 
							</a>
							<ul class="dropdown-menu">
								<li class="">
									<a href="https://grew.fr/grew_match/help" target="_blank">
										Documentation
									</a>
								</li>
								<li class="">
									<a href="https://github.com/grew-nlp/grew/issues" target="_blank">
										Report an issue
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- wrapper: left menu for corpus selection -->
		<div class="wrapper" id="wrap">
			<nav id="sidebar" v-bind:class="{ active: view_left_pane }">
				<div class="panel-group" id="accordion">
			</nav>

			<div id="grew-main" class="container-fluid">
				<div class="row">

					<!-- Main jumbotron for a primary marketing message or call to action -->
					<div class="jumbotron" id="jumbo-grew" style="margin-bottom: 0">
						<div class="container-fluid">
							<div class="row">

								<!-- Upper-left part: corpus selector, textarea, buttons -->
								<div class="col-md-8" id="console">
									<h4 id="warning" style="display: none;">
										<span id="warning-text" style="color: red"></span>
										<span href="" class="glyphicon glyphicon-question-sign tooltip-desc" id="warning-tooltip"></span>
									</h4>
									<h2 id="corpus">
										<button type="button" class="btn btn-primary" v-if="left_pane" onclick="javascript:app.view_left_pane = !app.view_left_pane">
											<span>{{ view_left_pane ? "Hide corpora list" : "Show corpora list" }}
											</span>
										</button>
										<span id="corpus-desc-label" class="tooltip-desc label label-default">{{ current_corpus_id }}</span>

										<span id="eud-span">
											<input type="checkbox" id="eud-box" data-size="mini" checked data-toggle="toggle" data-on="EUD" data-off="UD" data-onstyle="primary" data-offstyle="primary">
										</span>

										<!-- Error button -->
										<a v-if='meta_log != ""' v-bind:href="meta_log" target="_blank">
											<button type="button" class="btn btn-danger">
												<i class="fa fa-exclamation-triangle fa-lg"></i>
											</button>
										</a>

										<!-- Info button -->
										<a v-show='meta_info != ""' v-bind:href='current_corpus["github"]' target="_blank">
											<button id="info-button" type="button" class="tooltip-desc btn btn-primary">
												<i class="fa fa-info-circle fa-lg"></i>
											</button>
										</a>

										<!-- Github button -->
										<a v-show='current_corpus["github"]' v-bind:href='current_corpus["github"]' target="_blank">
											<button id="github-button" type="button" class="tooltip-desc btn btn-primary">
												<i class="fa fa-github fa-lg"></i>
											</button>
										</a>

										<!-- Link button -->
										<a v-show='current_corpus["url"]' v-bind:href='current_corpus["url"]' target="_blank">
											<button id="link-button" type="button" class="tooltip-desc btn btn-primary"><i class="fa fa-link fa-lg"></i></button>
										</a>

										<!-- Table button -->
										<a v-show='meta_table != ""' v-bind:href="meta_table" target="_blank">
											<button id="table-button" type="button" class="tooltip-desc btn btn-primary"><i class="fa fa-table fa-lg"></i></button>
										</a>

										<!-- Validation button -->
										<a v-show='meta_sud_valid != ""' v-bind:href="meta_sud_valid" target="_blank">
											<button id="sud-valid-button" type="button" class="tooltip-desc btn btn-primary"><i class="fa fa-check fa-lg"></i></button>
										</a>

										<!-- Validation button -->
										<a v-show='meta_ud_valid != ""' v-bind:href="meta_ud_valid" target="_blank">
											<button id="ud-valid-button" type="button" class="tooltip-desc btn btn-primary"><i class="fa fa-check fa-lg"></i></button>
										</a>
									</h2>

									<div>
										<textarea id="pattern-input"></textarea>
									</div>

									<h4 id="warning-misc" style="display: none; color: red">
										⚠️ prefixes _MISC_ and _UD_ are deprecated.
										See
										<a href="https://grew.fr/grew_match/help/#deprecated-misc-and-ud-prefixes">
											<button class="btn btn-primary btn-results btn-sm">doc</button>
										</a>
										for more info.
									</h4>

									<div>
										<b>Clustering 1:</b>
										<label><input type="radio" name="clust1" value="no" v-model="clust1"> No</label>
										<label><input type="radio" name="clust1" value="key" v-model="clust1"> Key</label>
										<label><input type="radio" name="clust1" value="whether" v-model="clust1"> Whether</label>
									</div>
									<input v-show="clust1=='key'" v-model="clust1_key" type="entry" id="clust1-key" />
									<div v-show="clust1=='whether'">
										<textarea v-model="clust1_whether" id="whether-input1"></textarea>
									</div>

									<!-- <div v-show="clust1 != 'no'"> -->
									<div v-show="false">
										<div>
											<b>Clustering 2:</b>
											<label><input type="radio" name="clust2" value="no" v-model="clust2"> No</label>
											<label><input type="radio" name="clust2" value="key" v-model="clust2"> Key</label>
											<label><input type="radio" name="clust2" value="whether" v-model="clust2"> Whether</label>
										</div>
										<input v-show="clust2=='key'" type="entry" id="clust2-key" />
										<div v-show="clust2=='whether'">
											<textarea id="whether-input2"></textarea>
										</div>
									</div>

									<p>
										<label v-if="mode=='syntax'">
											<input type="checkbox" v-model="lemma"> lemma
										</label>
										<label v-if="mode=='syntax'">
											&nbsp;&nbsp;
											<input type="checkbox" v-model="upos" checked> upos
										</label>
										<label v-if="mode=='syntax'">
											&nbsp;&nbsp;
											<input type="checkbox" v-model="xpos"> xpos
										</label>
										<label v-if="mode=='syntax'">
											&nbsp;&nbsp;
											<input type="checkbox" v-model="features"> features
										</label>
										<label v-show="mode=='syntax'">
											&nbsp;&nbsp;
											<input type="checkbox" v-model="tf_wf"> textform/wordform
											<span href="" class="glyphicon glyphicon-question-sign tooltip-desc" id="tf-wf-tooltip"></span>
										</label>
										<label>
											&nbsp;&nbsp;
											sentences order:
										</label>
										<select id="sentences-order">
											<option value="init">initial</option>
											<option value="length">by length</option>
											<option value="shuffle">shuffle</option>
										</select>

										<label>
											&nbsp;&nbsp;
											<input type="checkbox" v-model="context"> context
										</label>
									</p>
									<p>
										<button class="btn btn-primary" id="submit-pattern" onclick="javascript:search_pattern()" :disabled="wait" style="margin-right:10px">{{ wait ? "Searching..." : "Search" }}</button>


										<button class="btn btn-primary tooltip-desc" id="save-button" onclick="javascript:save_pattern()" style="margin-right:10px">Save</button>
										<button class="btn btn-primary tooltip-desc" v-show="mode=='syntax'" id="export-button" onclick="javascript:run_export()" style="margin-right:10px">Export</button>

									</p>
									<p>
										<span id='custom-display'>Your pattern URL:
											<span id="custom-url"></span>
										</span>
									</p>
								</div>

								<!-- Upper-right part: navbar Snippets/Examples -->
								<div class="col-md-4">
									<span id="right-pane"></span> <!-- Dynamically loaded code, depending of the corpus -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Middle part: clusters buttons -->
				<div class="row">
					<div class="jumbotron" id="jumbo-clust">
						<div class="container-fluid" id="cluster-block">
							<h3 id="progress-txt"></h3>
							<div class="row" id="cluster-buttons">
							</div>
						</div>
					</div>
				</div>

				<!-- Lower part: Display the results -->
				<div class="row">
					<div class="container-fluid" id="results-block">
						<div class="row">
							<div class="col-md-3">
								<div v-show="result_nb > 0" id="results-navig">
									<button class="btn btn-primary btn-results" id="next-results" onclick="javascript:next_results()">More results</button>
									<br />
									<button class="btn btn-primary btn-results" onclick="javascript:first_svg()">⇤</button>
									<button class="btn btn-primary btn-results" onclick="javascript:previous_svg()">←</button>
									<span class="btn-results" style="font-size: 150%">{{ current_view + 1 }} / {{ result_nb }}</span>
									<button class="btn btn-primary btn-results" onclick="javascript:next_svg()">→</button>
									<button class="btn btn-primary btn-results" onclick="javascript:last_svg()">⇥</button>
									<ul id="results-list"></ul>
								</div>
							</div>
							<div class="col-md-9">


								<div v-if="audio">
									<p class="loading">
										<em>Loading audio…</em>
									</p>
									<p class="passage-audio">
										<audio id="passage-audio" class="passage" controls>
											<source id="source-audio" type="audio/wav">
											<em class="error"><strong>Error:</strong> Your browser does not appear to support HTML5 Audio.</em>
										</audio>
									</p>
									<p class="passage-audio-unavailable" hidden>
										<em class="error"><strong>Error:</strong> You will not be able to do the read-along audio because your browser is not able to play MP3, Ogg, or WAV audio formats.</em>
									</p>
									<p class="playback-rate" title="Note that increaseing the reading rate will decrease accuracy of word highlights">
										<input id="playback-rate" type="range" min="0.5" max="2.0" value="1.0" step="0.1" disabled onchange='this.nextElementSibling.textContent = "Speech rate: " +  String(Math.round(this.valueAsNumber * 10) / 10) + "×";'>
										<output>Speech rate: 1×</output>
									</p>
									<p class="playback-rate-unavailable" hidden>
										<em>(It seems your browser does not support <code>HTMLMediaElement.playbackRate</code>, so you will not be able to change the speech rate.)</em>
									</p>
								</div>

								<div id="display-sentence" style="display: none;">
									<div id="passage-text" class="passage">

										<div id="meta-panel" class="panel panel-default" style="margin-bottom:4px;">

											<button v-show="Object.keys(sent_metadata).length > 0" class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
												Metadata <span id="md-icon" class="glyphicon glyphicon-chevron-right"></span>
											</button>

											<button v-show="mode=='syntax'" type="button" id="conll-button" class="btn btn-primary btn-sm tooltip-desc" onclick="javascript:show_conll()">
												CoNLL
												<span href="" class="glyphicon glyphicon-export"></span>
											</button>

											<button v-if="mode=='semantics'" type="button" id="code-button" class="btn btn-primary btn-sm tooltip-desc" onclick="javascript:show_code()">
												Code
												<span href="" class="glyphicon glyphicon-export"></span>
											</button>

											<a target="_blank" v-bind:href="svg_link">
												<button type="button" class="btn btn-sm btn-primary tooltip-desc">
													SVG
													<span href="" class="glyphicon glyphicon-export"></span>
												</button>
											</a>
										</div>

										<div class="collapse" id="collapseExample">
											<div id="metadata" class="panel-body">
											</div>
											<p v-for='(item, itemKey) in sent_metadata'>
												<span><b>{{itemKey}}</b>: {{item}}</span>
											</p>
										</div>

										<h4 id="sentence-txt"></h4>
									</div>
								</div>

								<div id="display-svg">
									<object id="result-pic" type="image/svg+xml" class="logo"></object>
								</div>

								<div v-if="parallels.length > 0" class="form-group">
									<select v-model="parallel" v-on:change="update_parallel_()" class="form-control" id="sel1">
										<option value="no">{{parallels.length}} parallel corp{{ parallels.length > 1 ? "ora" : "us" }} (none selected)</option>
										<option v-for="parallel in parallels"> {{ parallel }} </option>
									</select>
								</div>
								<div v-if="parallels.length > 0 && parallel != 'no'" id="display-parallel">
									<img v-bind:src="parallel_svg"></img>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- container -->
		</div> <!-- wrapper -->

		<!-- tooltip content -->
		<div id="warning-tip" style="display: none;">
			<p>No corpus found with the requested name,</p>
			<p>the closest one (longuest common prefix then Levenshtein distance) is chosen.</p>
		</div>

		<!-- tooltip content -->
		<div id="tf-wf-tip" style="display: none;">
			<p>Show the two special features <b>wordform</b> and <b>textform</b>.
				See
				<a href="https://grew.fr/doc/conllu/#additional-features-textform-and-wordform" target="_blank">
					<button class="btn btn-primary btn-results btn-sm">doc</button>
				</a>
				for more info.
			</p>
		</div>

		<!-- modal for pivot choice -->
		<div id="pivot-modal" class="modal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<p>Chose the pivot</p>
					</div>
					<div id="pivot-list" class="modal-body" style="text-align: center; padding-bottom: 15px">
					</div>
				</div>
			</div>
		</div>

		<!-- modal for tsvs export -->
		<div id="export-modal" class="modal fade">
			<div class="modal-dialog modal-lg modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<button type="button" class="btn btn-primary" onclick="javascript:download()">Download TSV file&nbsp;&nbsp;</button>
					</div>
					<div class="modal-body">
						<div id="exportResult"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- modal for conll export -->
		<div id="code_modal" class="modal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<button type="button" class="btn btn-primary" style="width:100%" onclick="javascript:code_copy()">Copy in clipboard</button>
					</div>
					<div class="modal-body">
						<textarea id="code_viewer" rows="25" readonly=""></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Grew-match specific CSS and JS -->
	<script src="js/main.js"></script>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/sidebar.css">
	<link rel="stylesheet" href="css/tooltip.css">

</body>

</html>