<!DOCTYPE html>
<html lang="en">

<head>
  <title>Grew-match main page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  
  <script src="vendor/sweetalert2.all.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
  <script>
    var md = new Remarkable();
  </script>
</head>

<body>
  <div id="app">
    <div class="container-fluid p-5 text-center" style="background-color: #eee; ">
      <a href=".">
        <img src="portal/grew-match.svg" alt="LOGO for grew_match" style="max-height:90px; margin-bottom: -66px;">
      </a>
    </div>
    
    <div v-if="url == ''" class="container p-3 my-3" style="background-color: #eee;">
      <h1>Build your own corpus</h1>
      <p>Select a set of CoNLL file to build a new corpus in Grew-match.</p>
      <span v-for="schema in schemas" class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" :value="schema" v-model="current_schema">
        {{ schema }}
      </span>

      <div class="custom-file">
        <label class="btn btn-primary" for="corpus_input" style="width: 100%;">Select CoNLL files</label>
        <input type="file" style="display: none;" id="corpus_input" multiple accept=".conll,.conllu">
      </div>
    </div>

    <div v-if="url == '' && file_array.length >0"  class="container p-3 my-3" style="background-color: #eee;">
      <button v-if="file_array.length > 0" style="width: 100%; margin-bottom: 30px;" type="button" onclick="javascript:build_corpus()" class="btn btn-success" :disabled="uploading || file_array.length == 0">
        <span v-if="uploading">Building…</span>
        <span v-if="uploading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span v-else>Build corpus</span>
      </button>


      <table  class="table table-striped">
        <thead class="table-primary">
          <th>{{ file_array.length }} file{{file_array.length > 1 ? "s" : ""}}</th>
          <th>{{ humanFileSize(total_size) }}</th>
          <th><button class="btn btn-warning"@click="file_array=[]">remove all</button></th>
        </thead>
        <tr v-for="(file, idx) in file_array">
          <td>{{ file.name }}</td>
          <td>{{ humanFileSize(file.size) }}</td>
          <td><button class="btn btn-warning" @click="remove_file(idx)">remove</button></td>
        </tr>
      </table>

    </div>
    
    <div v-if="url != ''" class="container p-5 my-5" style="background-color: #eee;">
      <h1>✅ Your corpus is ready ({{desc.nb_trees}} trees, {{desc.nb_tokens}} tokens)!</h1>
      
      <h3>The corpus is available in a dedicated instance of Grew-match with the URL below.</h3>
      <h3>Note the the corpus will be removed one week after its creation.</h3>
      <h3>⚠️ Don't forget to save the URL if you want to access to it later.</h3>
      
      <div style="align-content: center;">
        <a v-bind:href="url" class="btn btn-primary btn-lg" role="button" style="width: 100%; font-size: 36px; margin-top: 40px;">
          {{ url }}
        </a>
      </div>
    </div>
  </div>

  <script src="js/utils.js"></script>
  <script src="js/upload.js"></script>
  <link rel="stylesheet" href="css/upload.css">

  </html>